Scoring = Complete the challenge in specified time and get 2x the enrollement fee.
RULES :
1)One entry maximum for one user.
2)Can participate only in one challenge at a time.
3)Challenges fee may vary from $1 to $25
4)Challenge can be won only if it is completed in the specified amount of time only.